<ul>
  <li><%= @developer.first_name %> <%= @developer.last_name %></li>
  <li><%= @developer.email %></li>
  <li><%= @developer.location %></li>
  
  <li><%= @developer.skills %></li>

  <li><%= @developer.preferred_contract_duration %></li>
  <li><%= @developer.day_rate %></li>
</ul>